<div class="frame hello">
  <h1>Hello you!</h1>
  <hr/>
  <p>How are you?</p>
  <p>I'm glad your're doing good</p>
  <p>This is just a welcoming message from a non index index</p>
  <div class="menu">
    <%= link_to 'Your things to do', lists_path %>
  </div>
</div>
