<div class="frame">
  <h1>Create a New List Element</h1>
  <hr />

  <%= render(partial: 'form') %>

  <div class="btn">
    <div class="menu izq">
      <%= link_to 'To do list', lists_path %>
    </div>
    <div class="menu der">
      <%= link_to 'Home', root_path %>
    </div>
  </div>
</div>
